@import "avatar.css";
@import "navbar.css";

body {
  background-color: #ffffff;
  color: #333;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  text-align: center;
}

.container {
  @media (max-width: 576px) { padding: 14vh 4rem; }
  @media (min-width: 576px) { padding: 14vh 6rem; }
  @media (min-width: 900px) { padding: 14vh 14rem; }

}

h1, h2 {
    border-bottom: 1px solid #9E9E9E;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #9E9E9E;
}

h2 {
  text-align: left;
}

a {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-decoration: none;

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.text {
  text-align: left;
}

p {
  font-size: 18px;
  letter-spacing: 0.02sem;
  line-height: 150%;
}

.experience {
  display: flex;
  .avatar {
    height: 60px;
    margin-right: 5px;
  }
}
